<header class="header">Login</header>

<section class="login-form">
  <div class="p-fluid">
    <div class="p-field">
      <div class="">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText />
      </div>
    </div>
    <div class="p-field">
      <div class="">
        <label for="password">Password</label>
        <input id="password" type="text" pInputText />
      </div>
    </div>
  </div>
  <div class="p-field">
    <button pButton type="button" label="Login" (click)="onLogin()"></button>
  </div>
</section>
