.header {
  background-color: #9c27b0;
  font-size: 5rem;
  color: white;
  font-weight: bold;
  height: 250px;
  width: 100%;
  padding: 20px;
}

.login-form {
  width: 60%;
  max-width: 300px;
  min-width: 100px;
  margin: 20px;
}
