<header class="header">Calculators</header>

<div class="container card-bg">
  <div class="p-d-flex">
    <div class="p-shadow-6 card" (click)="gotoLumSum()">
      <div>Lum Sum Calculator</div>
      <div style="max-width: 300px">
        Thinking of making a Lumpsum investment? Calculate the future value of your wealth using our
        Lumpsum Calculator.
      </div>
      <div>
        <button pButton type="button" label="Launch" (click)="gotoLumSum()"></button>
      </div>
    </div>
  </div>
</div>
