/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}

.container {
  margin: 10px;
  width: 90%;
}

card-bg {
  background-color: #fafafa;
}

.card {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
